@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

html, body {
    margin: 0;
    padding: 0;
    font-family: Lato, serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#selector {
    position: absolute;
    width: 177.5px;
    bottom: 26px;
    right: 0;
    padding: 10px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.5em;
}

#dist-form div {
    font-size: 1.5em;
    user-select: none;
    margin: 20px 0;
}

#dist-form div, #dist-form div * {
    cursor: pointer;

}

.isSelected {
    border: 3px dashed red;
}

.notSelected {
    color: #777;
}
